[Unit]
Description=Lingmo session early services
Documentation=man:systemd.special(7)
RefuseManualStart=yes
StopWhenUnneeded=yes
BindsTo=graphical-session-pre.target
Before=graphical-session-pre.target
Before=lingmo-session.target